@import 'dvla-internal-elements';

.hide{
    display: none;
}

.show{
    display: block;
}

.error-message{
    display: none;
}

.visuallyhidden{
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
}