<html>

<head>
    <link rel="stylesheet" href="/public/stylesheets/application.css" />
</head>

<body>
    <header role="banner" id="global-header" class="{% block header_class %}{% endblock %}">
        <div id="header-wrapper">
            <div id="header-contents">
                <div id="header-float-left">
                    <div id="header-logo">
                        <a href="/" title="Home" id="logo" class="content">
                            <div id="coat-of-arms" alt=""></div>
                            <div class="name">DVLA</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="global-header-bar"></div>
    </header>
</body>

</html>