{% extends 'layout-fixed.html' %} {% block head %}
<link rel="stylesheet" href="/public/stylesheets/application.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/javascripts/member.js"></script>
<script type="text/javascript" src="/public/javascripts/application.js"></script> {% endblock %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="driving-licence-number">
                <div class="label-title">Driving licence number</div>
                <div class="label-hint">For example: JONES908050LH9EV</div>
                <div class="label-error hide">Error message about driving licence number</div>
                <input type="text" class="form-control" id="email"  />
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p></p>
        <a href="http://google.co.uk" class="btn btn-primary">Leggo</a>
    </div>
</div>
<script>
    $(".btn-primary").validate(validate);
    function validate() {
        var value = $("#email").val();
        if (value === "bob@bob.bob") {
            member.email = "whatever";
        } else {
            $('.form-group').addClass('error');
            $('label[for=driving-licence-number] .label-error').show();
        }
    }
</script> {% endblock %}